
#header-login{
    margin-right: 10px;
    border-right: 2px solid rgb(8, 93, 250);
}
#logo {
    width: 200px;
    height: 100px;
    padding: 15px 0px;
}
@media only screen and (max-width:767px){
    #logo {
        width: 110px;
        height: 80px;
        padding: 15px 0px;
    }
}